.hk_index {
   
    .index_carousel {   
        a {
          img {
  
          }
        }
    }
  
    .index_nav {
        display: flex;
        background-color: #ffffff;
      .nav_item {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        img {
            width: 60%;
            margin: 5px 0;
        }
  
        p {
  
        }
      }
    }
  }